@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Indie+Flower&display=swap');

@mixin display() {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin displayMobile() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

$font-basic: 1.7em;
$font-mobile: 0.7em;

.home {
  height: 700px;
  width: 800px;
  border: 2px solid green;
  border-radius: 35px;
  margin-top: 50px;
  background: #e0f8d6;
  font-family: 'Hubballi', sans-serif;
  opacity: 0.9;
  @include display();
  @media only screen and (max-width: 800px) {
    height: 100vh;
    width: 100vw;
    font-size: 0.7em;
    border: none;
    border-radius: 0;
    margin-top: 0;
  }

  &__title {
    text-transform: uppercase;
    margin: 40px;
  }

  &__form {
    margin-bottom: 50px;
    font-size: $font-basic;
    @media only screen and (max-width: 800px) {
      @include displayMobile();
    }
  }

  &__input {
    font-size: $font-mobile * 1.2;
    @media only screen and (max-width: 800px) {
      font-size: $font-mobile;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &__btn {
    font-size: $font-mobile * 1.2;
    width: 105px;
    margin-left: 10px;
    background: cornflowerblue;
    border: none;
    border-radius: 35px;
    padding: 5px 15px;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
      font-size: $font-mobile;
      padding: 0 5px;
    }
  }

  &__result {
    font-size: $font-basic;
    width: 600px;
    @media only screen and (max-width: 800px) {
      width: 400px;
    }
  }

  &__error {
    color: red;
  }

  &__img {
    width: 150px;
    height: 150px;
    @media only screen and (max-width: 800px) {
      width: 100px;
      height: 100px;
    }
  }
}


